In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms
%matplotlib inline

In [2]:
deliveries=pd.read_csv('deliveries.csv')
matches=pd.read_csv('matches.csv')

In [3]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
matches.sort_values(['season','id'],inplace=True)

In [5]:
ret=deliveries.groupby(['match_id','inning','over']).sum()[['total_runs']]

In [10]:
matches.groupby(['date','team1','team2']).size()

date        team1                        team2
2008-04-18  Kolkata Knight Riders        Royal Challengers Bangalore    1
2008-04-19  Chennai Super Kings          Kings XI Punjab                1
            Rajasthan Royals             Delhi Daredevils               1
2008-04-20  Deccan Chargers              Kolkata Knight Riders          1
            Mumbai Indians               Royal Challengers Bangalore    1
2008-04-21  Kings XI Punjab              Rajasthan Royals               1
2008-04-22  Deccan Chargers              Delhi Daredevils               1
2008-04-23  Chennai Super Kings          Mumbai Indians                 1
2008-04-24  Deccan Chargers              Rajasthan Royals               1
2008-04-25  Kings XI Punjab              Mumbai Indians                 1
2008-04-26  Kolkata Knight Riders        Chennai Super Kings            1
            Royal Challengers Bangalore  Rajasthan Royals               1
2008-04-27  Delhi Daredevils             Kings XI Punjab                1
            Mumbai Indians               Deccan Chargers                1
2008-04-28  Chennai Super Kings          Royal Challengers Bangalore    1
2008-04-29  Kolkata Knight Riders        Mumbai Indians                 1
2008-04-30  Delhi Daredevils             Royal Challengers Bangalore    1
2008-05-01  Deccan Chargers              Kings XI Punjab                1
            Rajasthan Royals             Kolkata Knight Riders          1
2008-05-02  Chennai Super Kings          Delhi Daredevils               1
2008-05-03  Kings XI Punjab              Kolkata Knight Riders          1
            Royal Challengers Bangalore  Deccan Chargers                1
2008-05-04  Chennai Super Kings          Rajasthan Royals               1
            Mumbai Indians               Delhi Daredevils               1
2008-05-05  Royal Challengers Bangalore  Kings XI Punjab                1
2008-05-06  Chennai Super Kings          Deccan Chargers                1
2008-05-07  Rajasthan Royals             Mumbai Indians                 1
2008-05-08  Delhi Daredevils             Chennai Super Kings            1
            Kolkata Knight Riders        Royal Challengers Bangalore    1
2008-05-09  Deccan Chargers              Rajasthan Royals               1
                                                                       ..
2017-04-27  Royal Challengers Bangalore  Gujarat Lions                  1
2017-04-28  Delhi Daredevils             Kolkata Knight Riders          1
            Sunrisers Hyderabad          Kings XI Punjab                1
2017-04-29  Gujarat Lions                Mumbai Indians                 1
            Rising Pune Supergiant       Royal Challengers Bangalore    1
2017-04-30  Delhi Daredevils             Kings XI Punjab                1
            Sunrisers Hyderabad          Kolkata Knight Riders          1
2017-05-01  Gujarat Lions                Rising Pune Supergiant         1
            Royal Challengers Bangalore  Mumbai Indians                 1
2017-05-02  Sunrisers Hyderabad          Delhi Daredevils               1
2017-05-03  Kolkata Knight Riders        Rising Pune Supergiant         1
2017-05-04  Gujarat Lions                Delhi Daredevils               1
2017-05-05  Kings XI Punjab              Royal Challengers Bangalore    1
2017-05-06  Mumbai Indians               Delhi Daredevils               1
            Rising Pune Supergiant       Sunrisers Hyderabad            1
2017-05-07  Kings XI Punjab              Gujarat Lions                  1
            Royal Challengers Bangalore  Kolkata Knight Riders          1
2017-05-08  Mumbai Indians               Sunrisers Hyderabad            1
2017-05-09  Kings XI Punjab              Kolkata Knight Riders          1
2017-05-10  Gujarat Lions                Delhi Daredevils               1
2017-05-11  Kings XI Punjab              Mumbai Indians                 1
2017-05-12  Delhi Daredevils             Rising Pune Supergiant         1
2017-05-13  Gujarat Lions                Sunrisers Hyderabad            1
            Mumbai Indians               Kolkata Knight Riders          1
2017-05-14  Kings XI Punjab              Rising Pune Supergiant         1
            Royal Challengers Bangalore  Delhi Daredevils               1
2017-05-16  Rising Pune Supergiant       Mumbai Indians                 1
2017-05-17  Sunrisers Hyderabad          Kolkata Knight Riders          1
2017-05-19  Kolkata Knight Riders        Mumbai Indians                 1
2017-05-21  Mumbai Indians               Rising Pune Supergiant         1
Length: 636, dtype: int64

In [ ]:
.x, y = 2008, 2017
while x < y:
    wins_percity = matches[matches['season'] == x].groupby(['winner', 'city'])['id'].count().unstack()
    plot = wins_percity.plot(kind='bar', stacked=True, title="Team wins in different cities\nSeason "+str(x), figsize=(7, 5))
    sns.set_palette("Paired", len(matches['city'].unique()))
    plot.set_xlabel("Teams")
    plot.set_ylabel("No of wins")
    plot.legend(loc='best', prop={'size':8})
    x+=1

In [ ]:
cities={'Sunrisers Hyderabad':['Hyderabad'],'Mumbai Indians':['Mumbai'],'Gujarat Lions':['Rajkot','Kanpur'],'Rising Pune Supergiants':['Pune'],'Royal Challengers Bangalore':['Bangalore'],'Kolkata Knight Riders':['Kolkata'],'Delhi Daredevils':['Delhi'],
 'Kings XI Punjab':['Indore','Chandigarh','Dharamsala'],'Chennai Super Kings':['Chennai','Ranchi'],'Rajasthan Royals':['Jaipur','Ahmedabad'],'Deccan Chargers':['Hyderabad','Nagpur'],'Kochi Tuskers Kerala':['Kochi'],'Pune Warriors':['Pune']}

In [ ]:
def changeName(cols):
    if cols=='Rising Pune Supergiant':
        return 'Rising Pune Supergiants'
    
    else:
        
        return cols

matches['team1']=matches['team1'].apply(changeName)
matches['team2']=matches['team2'].apply(changeName)
matches['toss_winner']=matches['toss_winner'].apply(changeName)
matches['winner']=matches['winner'].apply(changeName)

In [ ]:
def isHomeGround(cols):
    #df[['team1_is_home','team2_is_home']]=np.NaN
    if cols['city'] in cities[cols['team1']]:
        return 1
    
    else:
        return 0

matches['team1_is_home']=matches[['city','team1']].apply(isHomeGround,axis=1)

In [ ]:
matches.head(6)

In [ ]:
head2head=matches.groupby(['team1','team2','winner']).size()
head2head['Chennai Super Kings']

In [ ]:
d=head2head['Mumbai Indians']['Chennai Super Kings']+head2head['Chennai Super Kings']['Mumbai Indians']
d['Mumbai Indians']

In [ ]:
def f(cols):
    t1=cols[0]
    t2=cols[1]
    a=pd.Series()
    if t2 in head2head[t1] and t1 in head2head[t2] :
        if len(head2head[t1][t2])==2 and len(head2head[t2][t1])==2:
            
            a=head2head[t1][t2]+head2head[t2][t1]
        elif t1 in head2head[t1][t2]:
            a=head2head[t1][t2]
        elif t1 in head2head[t2][t1]:
            a=head2head[t2][t1]
        
    
    elif t2 in head2head[t1]:
        a=head2head[t1][t2]
        
    elif t1 in head2head[t2]:
        a=head2head[t2][t1]
    
    if t1 in a:
            
            return a[t1]
    else :
            return 0

def f1(cols):
    t1=cols[0]
    t2=cols[1]
    a=pd.Series()
    if t2 in head2head[t1] and t1 in head2head[t2] :
        
        if len(head2head[t1][t2])==2 and len(head2head[t2][t1])==2:
            
            a=head2head[t1][t2]+head2head[t2][t1]
        elif t2 in head2head[t1][t2]:
            a=head2head[t1][t2]
        elif t2 in head2head[t2][t1]:
            a=head2head[t2][t1]
        
    elif t2 in head2head[t1]:
        a=head2head[t1][t2]
        
        
    elif t1 in head2head[t2]:
        a=head2head[t2][t1]
        
    if t2 in a:
            
        return a[t2]
    else:
        
        return 0
    

        
        
        
    
        

matches['head_team1']=matches[['team1','team2']].apply(f,axis=1)
        
matches['head_team2']=matches[['team1','team2']].apply(f1,axis=1)

In [ ]:

f1(['Rising Pune Supergiants','Kings XI Punjab'])

In [ ]:
matches

In [ ]:
matches.head()

In [ ]:
matches.drop(['umpire1','umpire2','umpire3'],inplace=True,axis=1)

In [ ]:
matches.info()

In [ ]:
matches['result'].unique()

In [ ]:
matches=matches[matches.result=='normal']

In [ ]:
matches.drop(['id','season','city','date','result','win_by_runs','win_by_wickets'],inplace=True,axis=1)

In [ ]:
d=pd.get_dummies(matches['toss_decision'],drop_first=True)
matches=pd.concat([matches,d],axis=1)
matches.drop('toss_decision',axis=1,inplace=True)

In [ ]:
matches.drop(['player_of_match','venue'],axis=1,inplace=True)

In [ ]:
matches.head()

In [ ]:
batting_team_avg=deliveries.groupby(['batting_team','match_id']).sum()[['total_runs']]
batting_team_avg['total_runs']['Mumbai Indians'].mean()

In [ ]:
bowling_team_avg=deliveries.groupby(['bowling_team','match_id']).sum()[['total_runs']]
bowling_team_avg['total_runs']['Mumbai Indians'].mean()

In [ ]:
import math
def fun3(cols):
    t1=cols[0]
    t2=cols[1]
    toss_winner=cols[2]
    field=cols[3]
    if toss_winner==t1 and field==1:
        return math.ceil(bowling_team_avg['total_runs'][t1].mean())
    elif toss_winner==t1 and field==0:
        return math.ceil(batting_team_avg['total_runs'][t1].mean())
    elif toss_winner==t2 and field==1:
        return math.ceil(batting_team_avg['total_runs'][t1].mean())
    else:
        return math.ceil(bowling_team_avg['total_runs'][t1].mean())
    

def fun4(cols):
    t1=cols[0]
    t2=cols[1]
    toss_winner=cols[2]
    field=cols[3]
    if toss_winner==t2 and field==1:
        return math.ceil(bowling_team_avg['total_runs'][t2].mean())
    elif toss_winner==t2 and field==0:
        return math.ceil(batting_team_avg['total_runs'][t2].mean())
    elif toss_winner==t1 and field==1:
        return math.ceil(batting_team_avg['total_runs'][t2].mean())
    else:
        return math.ceil(bowling_team_avg['total_runs'][t2].mean())


        
matches['team1_avg_score']=matches[['team1','team2','toss_winner','field']].apply(fun3,axis=1)
matches['team2_avg_score']=matches[['team1','team2','toss_winner','field']].apply(fun4,axis=1)

In [ ]:
matches.head()

In [ ]:
matches['winner'].unique()

In [ ]:
matches['team1']=matches['team1'].map({'Sunrisers Hyderabad':1,'Rising Pune Supergiants':2,'Kolkata Knight Riders':3,'Kings XI Punjab':4,'Royal Challengers Bangalore':5,'Mumbai Indians':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Chennai Super Kings':9,'Rajasthan Royals':10,'Deccan Chargers':11,'Pune Warriors':12,'Kochi Tuskers Kerala':13})

In [ ]:
matches['team2']=matches['team2'].map({'Sunrisers Hyderabad':1,'Rising Pune Supergiants':2,'Kolkata Knight Riders':3,'Kings XI Punjab':4,'Royal Challengers Bangalore':5,'Mumbai Indians':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Chennai Super Kings':9,'Rajasthan Royals':10,'Deccan Chargers':11,'Pune Warriors':12,'Kochi Tuskers Kerala':13})

In [ ]:
matches['toss_winner']=matches['toss_winner'].map({'Sunrisers Hyderabad':1,'Rising Pune Supergiants':2,'Kolkata Knight Riders':3,'Kings XI Punjab':4,'Royal Challengers Bangalore':5,'Mumbai Indians':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Chennai Super Kings':9,'Rajasthan Royals':10,'Deccan Chargers':11,'Pune Warriors':12,'Kochi Tuskers Kerala':13})

In [ ]:
matches['winner']=matches['winner'].map({'Sunrisers Hyderabad':1,'Rising Pune Supergiants':2,'Kolkata Knight Riders':3,'Kings XI Punjab':4,'Royal Challengers Bangalore':5,'Mumbai Indians':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Chennai Super Kings':9,'Rajasthan Royals':10,'Deccan Chargers':11,'Pune Warriors':12,'Kochi Tuskers Kerala':13})

In [ ]:
matches.corr()

In [ ]:
matches.head()

In [ ]:
def fun1(cols):
    if cols[2]==cols[1]:
        return 1
    else:
        return 0
matches['team2_winner']=matches[['team1','team2','winner']].apply(fun1,axis=1)

In [ ]:
matches.drop(['winner','dl_applied'],axis=1,inplace=True)

In [ ]:
# def fun5(cols):
#     if cols[0]>cols[1]:
#         return 1
#     else:
#         return 0
    
# matches['team1_advantage']=matches[['head_team1','head_team2']].apply(fun5,axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(matches.drop('team2_winner',axis=1), 
                                                    matches['team2_winner'], test_size=0.3, 
                                                    random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

# Build the Model.
logmodel = LogisticRegression()

logmodel.fit(X_train,y_train)

In [ ]:
predict =  logmodel.predict(X_test)
predict

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score,precision_score,recall_score
print(accuracy_score(y_test, predict))

In [ ]:
precision_score(y_test, predict)

In [ ]:
recall_score(y_test, predict)

In [ ]:
deliveries.head()

In [ ]:
matches.head()