In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
matches=pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

In [3]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 59.7+ KB

In [4]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
score_per_innings=deliveries.groupby(['inning','match_id'])['total_runs'].sum()

In [6]:
score_per_innings=pd.DataFrame(score_per_innings)

In [7]:
score_per_innings.head()

                 total_runs
inning match_id
1      1                207
       2                184
       3                183
       4                163
       5                157

In [8]:
score_per_innings.reset_index(level=0, inplace=True)
#score_per_innings.reset_index(level=0,inplace=True)

In [9]:
score_per_innings.drop('inning',axis=1,inplace=True)

In [10]:
score_per_innings.reset_index(level=0, inplace=True)

In [11]:
score_per_innings.columns=['id','first_innings_runs']

In [12]:
second_innings_score=score_per_innings[636:637+633]

In [13]:
first_innings_score=score_per_innings[0:636]

In [14]:
matches=pd.concat([matches,pd.DataFrame(first_innings_score['first_innings_runs'])],axis=1)

In [15]:
second_innings_score.columns=['id','second_innings_runs']

In [16]:
second_innings_score.head()

     id  second_innings_runs
636   1                  172
637   2                  187
638   3                  184
639   4                  164
640   5                  142

In [17]:
matches.shape

(636, 19)

In [18]:
matches=pd.merge(matches,pd.DataFrame(second_innings_score),on='id')

In [19]:
matches.shape

(634, 20)

In [20]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,first_innings_runs,second_innings_runs
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,207,172
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,184,187
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,183,184
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,163,164
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,157,142

In [21]:
matches.sort_values('date',inplace=True)

In [22]:
matches_copy=matches.copy()

In [23]:
matches_copy.groupby(['venue','id']).mean()['first_innings_runs']

venue                       id
Barabati Stadium            186    170
                            189    171
                            337    126
                            348    186
                            486    231
                            491    149
                            497    141
Brabourne Stadium           176    212
                            188    151
                            191    155
                            194    180
                            201    163
                            207    178
                            221    183
                            515    173
                            553    189
                            558    201
                            570    199
Buffalo Park                138    148
                            144    178
                            150    116
De Beers Diamond Oval       151    168
                            152    140
                            155    166
Dr DY Patil Sports Academy  72     154
                            82     162
                            86     103
                            117    163
                            175    161
                            199    172
                                  ...
Wankhede Stadium            346    100
                            355    173
                            360    141
                            370    140
                            390    209
                            395    183
                            417    194
                            421    174
                            430    139
                            434    170
                            444    178
                            447    166
                            479    168
                            484    187
                            490    157
                            508    173
                            513    189
                            516    226
                            524    177
                            530    183
                            541    157
                            549    187
                            556    152
                            562    235
                            567    171
                            573    187
                            577    121
                            585    143
                            590    170
                            600    174
Name: first_innings_runs, Length: 634, dtype: int64

In [24]:
matches_copy.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,first_innings_runs,second_innings_runs
59,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN,222,82
61,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN,129,132
60,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN,240,207
63,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN,110,112
62,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN,165,166

In [29]:
data=matches.copy()
cols=['venue','id']
x='venue'
# data_expanding=data.groupby(['venue','id']).expanding()
# data_score=pd.DataFrame(data_expanding['first_innings_runs'].mean()).apply(round)
# data_score.reset_index(level=0, inplace=True)
# data_score.reset_index(level=0, inplace=True)
# data_score.drop(x,axis=1,inplace=True)
# data_score.columns=['id','avg_venue_score']

In [26]:
#matches_window.head()

In [27]:
# matches_window=matches.groupby(['venue']).expanding() 
# matches_window.reset_index(level=0,inplace=True)
# matches_window=pd.DataFrame(matches_window['first_innings_runs'].mean()).apply(round)
# matches_window.reset_index(level=0,inplace=True)
# matches_window['id']=matches_window[['index']].apply(lambda x : x+1)
# matches_window.drop(['index','venue'],inplace=True,axis=1)
# matches_window.columns=['average_venue_score','id']
# matches=pd.merge(matches,matches_window,on='id')

In [32]:
data_expanding=data.groupby(cols).expanding()
data_score=pd.DataFrame(data_expanding['first_innings_runs'].mean()).apply(round)

data_score.head()

                          first_innings_runs
venue            id
Barabati Stadium 186 185               170.0
                 189 188               171.0
                 337 335               126.0
                 348 346               186.0
                 486 484               231.0

In [ ]:
data_score.reset_index(level=0, inplace=True)
data_score.reset_index(level=0, inplace=True)
data_score['id']=data_score[['index']].apply(lambda x : x+1)
data_score.drop(['index',x],axis=1,inplace=True)
data_score.columns=[y,'id']

In [ ]:
def time_expanding(data,cols,x,y):
    data_expanding=data.groupby(cols).expanding()
    data_score=pd.DataFrame(data_expanding['first_innings_runs'].mean()).apply(round)
    data_score.reset_index(level=0, inplace=True)
    data_score.reset_index(level=0, inplace=True)
    data_score['id']=data_score[['index']].apply(lambda x : x+1)
    data_score.drop(['index',x],axis=1,inplace=True)
    data_score.columns=[y,'id']
    return pd.merge(data,data_score,on='id')

In [ ]:
#matches=time_expanding(matches,['venue'],'venue','average_venue_score')

In [ ]:
matches.head()

In [ ]:
matches=time_expanding(matches,['team1'],'team1','average_first_batting_score')

In [ ]:
matches.tail()

In [ ]:
matches=time_expanding(matches,['team2'],'team2','avergae_first_bowling_score')

In [ ]:
matches.drop(['id','season','city','date','dl_applied','player_of_match','venue','umpire1','umpire2','umpire3'],axis=1,inplace=True)

In [ ]:
matches.tail()

In [ ]:
matches['team1'].unique()

In [ ]:
matches['team1']=matches['team1'].map({'Kolkata Knight Riders':1,'Chennai Super Kings':2,'Rajasthan Royals':3,'Mumbai Indians':4,'Deccan Chargers':5,'Kings XI Punjab':6,'Royal Challengers Bangalore':7,'Delhi Daredevils':8,'Kochi Tuskers Kerala':9,'Pune Warriors':10,'Sunrisers Hyderabad':11,'Rising Pune Supergiants':12,'Rising Pune Supergiant':12,'Gujarat Lions':13})

In [ ]:
matches['team2']=matches['team2'].map({'Kolkata Knight Riders':1,'Chennai Super Kings':2,'Rajasthan Royals':3,'Mumbai Indians':4,'Deccan Chargers':5,'Kings XI Punjab':6,'Royal Challengers Bangalore':7,'Delhi Daredevils':8,'Kochi Tuskers Kerala':9,'Pune Warriors':10,'Sunrisers Hyderabad':11,'Rising Pune Supergiants':12,'Rising Pune Supergiant':12,'Gujarat Lions':13})

In [ ]:
matches['toss_winner']=matches['toss_winner'].map({'Kolkata Knight Riders':1,'Chennai Super Kings':2,'Rajasthan Royals':3,'Mumbai Indians':4,'Deccan Chargers':5,'Kings XI Punjab':6,'Royal Challengers Bangalore':7,'Delhi Daredevils':8,'Kochi Tuskers Kerala':9,'Pune Warriors':10,'Sunrisers Hyderabad':11,'Rising Pune Supergiants':12,'Rising Pune Supergiant':12,'Gujarat Lions':13})

In [ ]:
matches['winner']=matches['winner'].map({'Kolkata Knight Riders':1,'Chennai Super Kings':2,'Rajasthan Royals':3,'Mumbai Indians':4,'Deccan Chargers':5,'Kings XI Punjab':6,'Royal Challengers Bangalore':7,'Delhi Daredevils':8,'Kochi Tuskers Kerala':9,'Pune Warriors':10,'Sunrisers Hyderabad':11,'Rising Pune Supergiants':12,'Rising Pune Supergiant':12,'Gujarat Lions':13})

In [ ]:
matches.drop(['result','win_by_runs','win_by_wickets'],axis=1,inplace=True)

In [ ]:
matches.head()

In [ ]:
d=pd.get_dummies(matches['toss_decision'],drop_first=True)

In [ ]:
matches=pd.concat([matches,d],axis=1)
matches.drop('toss_decision',axis=1,inplace=True)

In [ ]:
matches.dropna(axis=0,inplace=True)

In [ ]:
y =matches['first_innings_runs']
X=matches.drop(['first_innings_runs','second_innings_runs','winner'],axis=1)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
matches.info()

In [ ]:
#matches[['winner',w]]

In [ ]:
from sklearn.linear_model import LinearRegression

lm =  LinearRegression()
lm.fit(x_train, y_train)

In [ ]:
predictions = lm.predict(x_test)
predictions=predictions.round()
plt.scatter(y_test,predictions)

In [ ]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions))

print('MSE:', metrics.mean_squared_error(y_test, predictions))

print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

In [ ]:
#pd.concat([pd.DataFrame(y_test),pd.DataFrame(predictions)],axis=1)

In [ ]:
type(predictions)

In [ ]:
type(y_test)

In [ ]:
predictions

In [ ]:
y_test

In [ ]:
(matches.drop('second_innings_runs',axis=1)).corr()